.main-container {
  display: flex;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  margin-right: 1vw;
  border-color: aqua;
  border-style: solid;
  padding: 10px;
}

.center-container {
  width: 60vw;
}

.side-icon-container {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.tweet-form,
.loading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.tweets {
  overflow: scroll;
  height: 80vh;
  overflow-x: hidden;
}

.single-tweet {
  border-color: aqua;
  border-style: solid;
}

i {
  align-self: baseline;
}
